*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.inline-block{
    display: inline-block;
}
.clear-fix{
    clear: both;
}
h2{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333;
}
 #nav{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100;
}
#nav .nav{
    width: 1170px;
    margin: auto;
}
 #nav .nav .nav-logo{
    float: left;
}
 #nav .nav .nav-logo a{
    float: left;
    color: #FF305B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-block: 18px;
}
 #nav .nav .nav-menu{
    float: right;
}
#nav .nav .small-nav-menu{
    display: none;
}
 #nav .nav .nav-menu ul li a{
    color: #ffffff;
    padding: 20px 10px;
    font-size: 16px;
    display: inline-block;
    font-weight: 100;
    transition-duration: 0.5s;
    font-family: 'Roboto', sans-serif;
}
 #nav .nav .nav-menu ul li a:hover{
    color: #FF305B;
}
 #nav .nav .nav-menu ul li a.color-red{
    color: #FF305B;
}
/* end fixed codes */
/* start home section */
#home{
    background-image: url(img/hero\ img.jpg);
    background-size: cover;
    background-position: center; 
    height: calc(100vb - 65.5px);
}
#home .content{
    height: calc(100vb - 65.5px);
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    padding-top: 225px;
}
#home .content span.span{
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    margin-bottom: 10px;
    display: block;
}
#home .content h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 77px;
    color: #FF305B;
    margin-bottom: 10px;
}
#home .content p{
    font-size: 26px;
    font-weight: 300;
    line-height: 31.2px;
    border-right: 3px solid white;
    padding-right: 8px;
}
#spin{
    color: #ffffff;
    float: right;
    margin-left: 5px;
    font-size: 26px;
    font-weight: 300;
    line-height: 31.2px;
    font-family: 'Source Sans 3', sans-serif;
}
#spin:after {
    content:"";
    animation: spin 5s ease-in-out infinite;
  }
  @keyframes spin {
    0% { content:"Developer";}
    20% { content:"Developer";}
    21% { content:"Develope";}
    22% { content:"Develop";}
    23% { content:"Develo";}
    24% { content:"Devel";}
    25% { content:"Deve";}
    26% { content:"Dev";}
    27% { content:"De";}
    28% { content: "D";}
    29% { content: "";}
    30% { content: "D";}
    31% { content: "De";}
    32% { content: "Des";}
    33% { content: "Desi";}
    34% { content: "Desig";}
    35% { content: "Design";}
    36% { content: "Designe";}
    37% { content: "Designer";}
    67% { content: "Designer";}
    68% { content: "Designe";}
    69% { content: "Design";}
    70% { content: "Desig";}
    71% { content: "Desi";}
    72% { content: "Des";}
    73% { content: "De";}
    74% { content: "D";}
    75% { content: "";}
    76% { content: "";}
    77% { content: "D";}
    78% { content: "De";}
    79% { content: "Dev";}
    80% { content: "Deve";}
    81% { content: "Devel";}
    82% { content: "Develo";}
    83% { content: "Develop";}
    84% { content: "Develope";}
    85% { content: "Developer";}
    100% { content: "Developer";}
  }
/* end home sec */
/* start hello sec */
#hello .container .div{
    float: left;
    width: 50%;
    margin: 50px 0;
}
/* start of pic div */
#hello .container .div .frame{
    height: 440px;
    width: 360px;
    border: 10px solid #555555;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
#hello .absol-pos{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
}
#hello .absol-pos .pic{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}   
#hello .absol-pos .pic .bg-hover{
    background-color: #333333d0;
    height:440px;
    width: 360px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 3;
    transition: all 0.5s;
}
#hello .absol-pos .pic .bg-hover .icons ul.hover-icons{
    list-style: none;
    padding-top: 50%;
    margin: 0 auto;
    width: fit-content;
}
#hello .absol-pos .pic .bg-hover .icons ul.hover-icons li{
    display: inline-block;
    padding: 10px;
    width: fit-content;
}
#hello .absol-pos .pic .bg-hover .icons ul.hover-icons li i{
    color: #ffffff;
    transition: all 0.5s;
}
#hello .absol-pos .pic .bg-hover .icons ul.hover-icons li i:hover{
    color: #FF305B;
}
#hello .absol-pos:hover .bg-hover{
    top: 0px;
}
/* end of pic div */
#hello .container .div h2{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 34px;
    line-height: 22px;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
    border-left: 4px solid #FF305B;
    margin-bottom: 25px;
}
#hello .container .div p{
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 25px;
    border-bottom: 0.8px dashed #555;
    margin-bottom: 25px;
}
#hello .container .div ul.data{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #555;
}
#hello .container .div ul.data li{
    width: 40%;
    float: left;
    margin-bottom: 25px;
}
#hello .container .div ul li span{
    color: #333;
    font-weight: 500;
    padding-right: 3px;
}
#hello .container .div button{
    color: #ffffff;
    background-color: #ff305b;
    padding: 10px 24px;
    margin-right: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    border-color:transparent ;
    transition: all 0.5s;
}
#hello .container .div button:hover{
    background-color: #EC2404;
}
/* end hello sec */
/* start service sec */
#service{
    background-color: #F1F1F1;
    text-align: center;
    padding-top: 50px;
}
#service .div{
    margin-top: 20px;
    padding: 40px 15px;
    width: 25%;
    float: left;
    transition: all 0.5s;
}
#service .lines{
    width: 170px;
    border-top: 1px solid #FF305B;
    margin: 20px auto 30px;
    position: relative;
}
#service .lines::before{
    content: '';
    width: 70px;
    position: absolute;
    top: -6px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#service .lines::after{
    content: '';
    width: 70px;
    position: absolute;
    top: 4px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#service .div i{
    scale: 1.7;
    margin: 20px 0 25px 0;
    transition: all 0.5s;
}
#service .div h3{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}
#service .div p{
    font-family: Roboto;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #555;
}
#service .div:hover{
    background-color: white;
}
#service .div:hover i{
    scale: 2.1;
}
/* end service sec */
/* start portfolio sec */
#portfolio {
    text-align: center;
    padding-top: 50px;
}
#portfolio .lines{
    width: 170px;
    border-top: 1px solid #FF305B;
    margin: 20px auto 30px;
    position: relative;
}
#portfolio .lines::before{
    content: '';
    width: 70px;
    position: absolute;
    top: -6px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#portfolio .lines::after{
    content: '';
    width: 70px;
    position: absolute;
    top: 4px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#portfolio .buttons{
    margin-bottom: 50px;
}
#portfolio .buttons .red{
    color: #FF305B;
}
#portfolio input{
    background-color: transparent;
    color: #333;
    border: transparent;
    padding: 3px 12px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
#portfolio .pic{
    width: calc(100% /3);
    float: left;
    margin-bottom: 30px;
    position: relative;
}
#portfolio .pic img{
    width: 100%;
    padding: 0 15px;
}
#portfolio .pic .cover{
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: #333333a0;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}
#portfolio .pic .cover i{
    position: absolute;
    bottom: 15px;
    right: 15px;
    scale: 1.3;
}
#portfolio .pic .cover:hover{
    opacity: 1;
}
/* end portfolio sec */
/* start number sec */
#number {
    background-color: #F1F1F1;
}
#number .div{
    width: 25%;
    float: left;
    text-align: center;
    margin: 50px 0;
}
#number .div i{
    color: #FF305B;
    scale: 1.5;
    margin: 20px;
}
#number .div h3.first{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    line-height: 28.6px;
    font-weight: 800;
    color: #333;
}
#number .div h3.first::after{
    content: counter(count);
    animation: f-counter 0.7s linear forwards ;
}
@keyframes f-counter {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 20;
    }
    20% {
      counter-increment: count 40;
    }
    30% {
      counter-increment: count 60;
    }
    40% {
      counter-increment: count 80;
    }
    50% {
      counter-increment: count 100;
    }
    60% {
      counter-increment: count 120;
    }
    70% {
      counter-increment: count 140;
    }
    80% {
      counter-increment: count 160;
    }
    90% {
      counter-increment: count 180;
    }
    100% {
      counter-increment: count 200;
    }
}
#number .div h3.second{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    line-height: 28.6px;
    font-weight: 800;
    color: #333;
}
#number .div h3.second::after{
    content: counter(count);
    animation: s-counter 0.7s linear forwards ;
}
@keyframes s-counter {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 35;
    }
    20% {
      counter-increment: count 70;
    }
    30% {
      counter-increment: count 105;
    }
    40% {
      counter-increment: count 140;
    }
    50% {
      counter-increment: count 170;
    }
    60% {
      counter-increment: count 200;
    }
    70% {
      counter-increment: count 230;
    }
    80% {
      counter-increment: count 280;
    }
    90% {
      counter-increment: count 310;
    }
    100% {
      counter-increment: count 345;
    }
}
#number .div h3.third{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    line-height: 28.6px;
    font-weight: 800;
    color: #333;
}
#number .div h3.third::after{
    content: counter(count);
    animation: th-counter 0.7s linear forwards ;
}
@keyframes th-counter {
    0% {
      counter-increment: count 50;
    }
    10% {
      counter-increment: count 90;
    }
    20% {
      counter-increment: count 150;
    }
    30% {
      counter-increment: count 300;
    }
    40% {
      counter-increment: count 500;
    }
    50% {
      counter-increment: count 700;
    }
    60% {
      counter-increment: count 900;
    }
    70% {
      counter-increment: count 1100;
    }
    80% {
      counter-increment: count 1300;
    }
    90% {
      counter-increment: count 1600;
    }
    100% {
      counter-increment: count 1800;
    }
}
#number .div h3.forth{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    line-height: 28.6px;
    font-weight: 800;
    color: #333;
}
#number .div h3.forth::after{
    content: counter(count);
    animation: fo-counter 0.7s linear forwards ;
}
@keyframes fo-counter {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 50;
    }
    20% {
      counter-increment: count 90;
    }
    30% {
      counter-increment: count 120;
    }
    40% {
      counter-increment: count 200;
    }
    50% {
      counter-increment: count 400;
    }
    60% {
      counter-increment: count 600;
    }
    70% {
      counter-increment: count 800;
    }
    80% {
      counter-increment: count 1000;
    }
    90% {
      counter-increment: count 1100;
    }
    100% {
      counter-increment: count 1200;
    }
}
#number .div h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #555;
}
/* end number sec */
/* start Testimonial sec */
#Testimonial {
    padding-top: 50px;
}
#Testimonial h2{
    text-align: center;
}
#Testimonial .lines{
    width: 170px;
    border-top: 1px solid #FF305B;
    margin: 20px auto 40px;
    position: relative;
}
#Testimonial .lines::before{
    content: '';
    width: 70px;
    position: absolute;
    top: -6px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#Testimonial .lines::after{
    content: '';
    width: 70px;
    position: absolute;
    top: 4px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#Testimonial .parent{
    position: relative;
}
#Testimonial .content1{
    background-color: #F1F1F1;
    width: 66%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}
#Testimonial .content1 .div1{
    width: 22%;
    height: 100%;
    position: relative;
    float: left;
}
#Testimonial .content1 .div1 img{
    position: absolute;
    top: 55px;
    left: 40px;
    width: 110px;
    border-radius: 100%;
    z-index: 5;
}
#Testimonial .content1 .div1 .red-tri{
    transform: rotate(-45deg);
    width: 200%;
    height: 100%;
    border: 150px solid #FF305B;
    position: absolute;
    top: -170px;
    left: -170px;
}
#Testimonial .content1 .div2{
    width: 78%;
    height: 100%;
    padding: 40px 40px 40px 0;
    float: right;
}
#Testimonial .content1 h3{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #2b2a2a;
    margin-bottom: 10px;
}
#Testimonial .content1 h4{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    color: #777;
    font-weight: 600;
    margin-bottom: 10px;
}
#Testimonial .content1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 25px;
}
#Testimonial .content2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 25px;
}
#Testimonial .content1 .stars{
    height: 25px;
    width: 540px;
    margin-bottom: 12px;
}
#Testimonial .content2{
    background-color: #F1F1F1;
    width: 66%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -500%;
    z-index: 8;
}
#Testimonial .content2 .div1{
    width: 22%;
    height: 100%;
    background-color: #EC2404;
    position: relative;
    float: left;
}
#Testimonial .content2 .div1 img{
    position: absolute;
    top: 55px;
    left: 40px;
    width: 110px;
    border-radius: 100%;
    z-index: 5;
}
#Testimonial .content2 .div1 .red-tri{
    transform: rotate(-45deg);
    width: 200%;
    height: 100%;
    border: 150px solid #FF305B;
    position: absolute;
    top: -170px;
    left: -170px;
}
#Testimonial .content2 .div2{
    width: 78%;
    height: 100%;
    padding: 40px 40px 40px 0;
    float: right;
}
#Testimonial .content2 h3{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #2b2a2a;
    margin-bottom: 10px;
}
#Testimonial .content2 h4{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    color: #777;
    font-weight: 600;
    margin-bottom: 10px;
}
#Testimonial .content2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 25px;
}
#Testimonial .content2 .stars{
    height: 25px;
    width: 540px;
    margin-bottom: 12px;
}
#Testimonial .container .select{
    width: 50px;
    margin: 10px auto 70px;    
}
#Testimonial .container .oval{
    width: 26px;
    height: 10px;
    float: left;
    background-color: #ff305b;
    border-radius: 10px;
    margin-right: 5px;
}
#Testimonial .container .dot{
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid #ff305b;
    border-radius: 10px;
}
/* end Testimonial sec */
/* start bolg */
#blog{
    background-color: #F1F1F1;
    padding-top: 50px;
}
#blog h2{
    text-align: center;
}
#blog .lines{
    width: 170px;
    border-top: 1px solid #FF305B;
    margin: 20px auto 45px;
    position: relative;
}
#blog .lines::before{
    content: '';
    width: 70px;
    position: absolute;
    top: -6px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#blog .lines::after{
    content: '';
    width: 70px;
    position: absolute;
    top: 4px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#blog .frame{
    width: calc(100% / 3);
    float: left;
    padding: 0 15px;
}
#blog .post{
    width: 100%;
    float: left;
    background-color: white;
    margin-right: 40px;
    padding-bottom: 15px;
}
#blog .post img{
    width: 100%;
}
#blog .post iframe{
    width: 360px;
    height: 202px;
}
#blog .post .date{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #555;
    padding: 15px;
}
#blog .post a.title{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 600;
    color: #333;
    padding-left: 15px;
    transition: all 0.5s;
}
#blog .post a.title:hover{
    color: #FF305B;
}
#blog .post p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #555;
    padding: 15px;
}
#blog .post a.readmore{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #333;
    padding: 15px;
    transition: all 0.5s;
}
#blog .post a.readmore:hover{
    color: #FF305B;
}
/* end bolg */
/* start contact */
#contact{
    padding-top: 50px;
}
#contact h2{
    text-align: center;
}
#contact .lines{
    width: 170px;
    border-top: 1px solid #FF305B;
    margin: 20px auto 45px;
    position: relative;
}
#contact .lines::before{
    content: '';
    width: 70px;
    position: absolute;
    top: -6px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#contact .lines::after{
    content: '';
    width: 70px;
    position: absolute;
    top: 4px;
    left: 50px;
    border-top: 1px solid #FF305B;
}
#contact form{
    width: 70%;
    margin: auto;
}
#contact form .div{
    width: 50%;
    float: left;
}
#contact form .row{
    padding-inline: 15px;
}
#contact form .row input , #contact form .row textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}
#contact form .row input::placeholder , #contact form .row textarea::placeholder  {
    color: #999;
}
#contact form .row input {
    height: 40px;
}
.fullwidth{
    width: 100%;
    margin: 10px;
}
#contact form .submit{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 34px;
    font-weight: 400;
    background-color: #FF305B;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    padding: 2px 20px;
    margin: 10px 0 50px 25px;
    transition: all 0.5s;
}
#contact form .submit:hover{
    background-color: #EC2404;
}
/* end contact */
/* start footer */
#footer{
    background-color: #333;
    text-align: center;
}
#footer .icons ul{
    list-style: none;
}
#footer .icons ul li{
    display: inline-block;
    padding: 10px;
}
#footer .icons ul li a i{
    color: white;
    transition: all 0.5s;
}
#footer .icons ul li a i:hover{
    color: #FF305B;
}
#footer p{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
#footer p a{
    color: #FF305B;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    transition: all 0.5s;
}
#footer p a:hover{
    text-decoration: underline ;
}
/* end footer */
@media screen and (min-width:993px) and (max-width:1200px){
    .container{
        width: 970px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #nav .nav{
        width: 970px;
        margin: auto;
    }
    #hello .container .div .frame , #hello .absol-pos .pic img ,#hello .absol-pos .pic .bg-hover{
        height: 358px;
        width: 293px;
    }
    #hello .container .div ul.data li{
        width: 50%;
        margin-bottom: 15px;
    }
    #hello .container .div1{
        float: left;
        width: 45%;
        margin: 50px 0;
    }
    #hello .container .div2{
        float: left;
        width: 55%;
        margin: 50px 0;
    }
    #Testimonial .content1 .div2{
        width: 74%;
    }
    #blog .post iframe{
        width: 293px;
        height: 165px;
    }
    #contact form{
        width: 617px;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    #nav .nav{
        width: 750px;
        margin: auto;
    }
    .container{
        width: 750px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #hello .container .div .frame , #hello .absol-pos .pic img ,#hello .absol-pos .pic .bg-hover{
        width: 346px;
        height: 424px;
        border-radius: 5px;
    }
    #hello .container .div .frame{
        border: 0 solid ;
    }
    #hello .absol-pos{
        top: -10px;
        left: -10px;
    }
    #hello .container .div ul.data li{
        width: 50%;
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 14px;
    }
    #hello .container .div2{
        padding-left: 15px;
    }
    #service .div{
        width: 50%;
    }
    #portfolio .pic{
        width: 50%;
    }
    #Testimonial .content1{
        width: 720px;
    }
    #blog .post iframe{
        width: 220px;
        height: 124px;
    }
    #blog .post a.title{
        font-size: 19px;
        line-height: 20.9px;
    }
    #contact form{
        width: 720px;
    }
}
@media screen and (max-width:768px){
    #nav .nav{
        width: 420px;
        margin: auto;
    }
    #nav .nav .nav-menu{
        display: none;
    }
    #nav .nav .small-nav-menu{
        display: inline;
        float: right;
        margin: 25px 15px;
        scale: 1.4;
    }
    .container{
        width: 420px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #home .content span.span{
        font-size: 22px;
        line-height: 24.2px;
    }
    #home .content h1{
        font-size: 38px;
        line-height: 41.8px;
    }
    #home .content p{
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
    }
    #spin{
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        font-family: 'Source Sans 3', sans-serif;
    }
    #hello .container .div{
        width: 420px;
    }
    #hello .container .div2{
        margin-left: 20px;
    }
    #hello .absol-pos .pic img ,#hello .absol-pos .pic .bg-hover{
        width: 420px;
        height: 514px;
        border-radius: 5px;
    }
    #hello .container .div .frame{
        border: 0 solid ;
    }
    #hello .absol-pos{
        top: -10px;
        left: -10px;
    }
    #hello .container .div ul.data li{
        width: 100%;
    }
    #service .div ,  #portfolio .pic{
        width: 100%;
    }
    #service h2 , #portfolio h2 ,#Testimonial h2, #blog h2, #contact h2{
        font-size: 32px;
        line-height: 30px;
        font-weight: 800;
    }
    #service .div h3{
        font-size: 22px;
        line-height: 24.2px;
        font-weight: 600;
    }
    #number .div{
        width: 100%;
        margin: 10px 0;
    }
    #blog .frame {
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0;
    }
    #blog .post iframe{
        width: 420px;
        height: 236px;
    }
    #blog .post a.title{
        font-size: 22px;
        line-height: 24.2px;
    }
    #blog .post a.readmore{
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
    }
    #contact form .div{
        width: 100%;
    }
    #contact form {
        width: 420px;
    }
    #Testimonial .content1{
        width: 420px;
        padding-block:30px ;
    }
    #Testimonial .content1 .div1{
        width: 420px;
        height: 150px;
    }
    #Testimonial .content1 .div1 img{
        position: absolute;
        top: 15px;
        left: 160px;
    }
    #Testimonial .content1 .div1 .red-tri{
        top: -270px;
        left: -330px;
    }
    #Testimonial .content1 .div2{
        width: 420px;
        padding: 0 0 0 30px;
    }
}